<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <div class="container centrado">

    <h2>Calculo de compras</h2>
    <!-- ejericio1.html -->
    <form action="/usuario" method="POST">
        <div>
            <label for="nombre">Ingresa tu nombre</label>
        </div>
        <div>
            <input class="form-group" type="text" id="nombre" name="nombre">
        </div>

        <div>
            <label for="tipo">Ingresa tipo Ropa</label>
        </div>
        <div>
          <select id="tipo" name="tipo">
                 <option value="tipo">Selecciona un tipo</option>
                 <option value="verde">verde</option>
                 <option value="blanco">blanco</option>
           </select>
        </div>
         <div >
            <label for="descripcion">Ingresa una descripción</label>
        </div>
        <div>
            <input class="form-group" type="text" id="descripcion" name="descripcion">
        </div>

    </form>
</div>
</body>
</html>